
.window {
    width:400px;
    height:300px;
    margin: 20px auto;
    overflow: hidden;
}

.images{
    position: relative;
}

.images > img{
    position: absolute;
    width: 100%;
    transition: all 0.3s;
}

.images > img.current {
    transform: translateX(0%);
    z-index:1;
}
.images > img.enter {
    transform: translateX(100%)
}
.images > img.leave {
    transform: translateX(-100%);
    z-index:1;
}